#CMake things
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

#HEAD main things
.vscode
build
sdkconfig.ci
sdkconfig
sdkconfig.old
__pycache__/
pytest_cache/
.DS_Store 
build_summary_*.xml
app_info_*.txt
size_info_*.txt
pytest_embedded_log/

#hand_esp
build/
dependencies.lock
main/idf_component.yml
managed_components/
.vscode/.
.vscode/c_cpp_properties.json
.vscode/settings.json

